<h4 style="color: crimson;">Add Employee</h4>

<div class="container">
    <b>First Name</b>
    <input type="text" placeholder="Enter First name" name="empFirstName">
    <b>Last Name</b>
    <input type="text" placeholder="Enter Last Name" name="empLastName">
    <b>Address</b>
    <input type="text" placeholder="Enter Address" name="empAddress">
    <b>City</b>
    <input type="text" placeholder="Enter City" name="empCity">
    <b>Birth Date</b>&nbsp;&nbsp;
    <input type="date" placeholder="Enter Birth Date" name="empBirthDate"><br>
    <b>Mobile Number</b>
    <input type="text" placeholder="Enter Mobile Number" name="empMobileNo">
    <button (click)="saveEmployee(saveEmployee)" class="registerbtn">Add</button>
</div>
