<h4 style="color: crimson;">Update Employee</h4>

<div class="container">
    <b>First Name</b>
    <input type="text"  name="empFirstName">
    <b>Last Name</b>
    <input type="text"  name="empLastName">
    <b>Address</b>
    <input type="text"  name="empAddress">
    <b>City</b>
    <input type="text"  name="empCity">
    <b>Birth Date</b>&nbsp;&nbsp;
    <input type="date"  name="empBirthDate"><br>
    <b>Mobile Number</b>
    <input type="text" name="empMobileNo">
    <button  class="registerbtn">Add</button>
</div>

