<h2 style="align-content: center;">Employee List</h2>

<div>
    <button (click)='addEmployee()' class="button" >Add Employee</button>

</div>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First  Name</th>
            <th>Last  Name</th>
            <th>Address</th>
            <th>City</th>
            <th>BirthDate</th>
            <th>Mobile No</th>
            <th>Update Action</th>
            <th>Delete Action</th>
           
        </tr>
    </thead>
</table>
</div>

